.arrow {
  border: solid white;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 10px;
  position: absolute;
  top:50%;
  margin:10px;

}

.next {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 10px;

}

.back {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 10px;
}

.arrow:hover {
   border: solid black;
   border-width: 0 6px 6px 0;
   display: inline-block;
   padding: 10px;
   position: absolute;
   top:50%
}