.quote{
    font-family:cursive
}

.intro_title{
    font-weight: bold;
    font-size: xxx-large;
    color: black;
}

.travel_title{
    font-weight: bold;
    font-size: xxx-large;
    color: black;
}

.food_title{
    font-weight: bold;
    font-size: xxx-large;
    color: black;
}

.culture_title{
    font-weight: bold;
    font-size: xxx-large;
    color: black;
}